export DOTFILES_PATH="$HOME/dotfiles"
export GIT_AUTHOR_EMAIL="you@example.com"
export GIT_AUTHOR_NAME="John Smith"
export GIT_COMMITER_EMAIL="$GIT_AUTHOR_EMAIL"
export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
